@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('./content-styles.css'); */
:root {
  --foreground-rgb: 26, 26, 26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html, 
body {
    height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

#__next {
  height: 100%;
}
